<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Noona - Gestion de Stock{% endblock %}</title>
    {% block stylesheets %}
    		
    		{% stylesheets 
    				'css/bootstrap.min.css'
    				'css/bootswatch.min.css'
    				'js/jquery-ui-1.11.4.custom/jquery-ui.min.css'
    				 filter='cssrewrite'
    		%}
    		    		<link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
        
    {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script type="text/javascript" src="{{ asset('js/jquery-1.11.2.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery-ui-1.11.4.custom/jquery-ui.min.js') }}"></script>

    </head>

    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
